<div class='container-md mt-5 pt-5'>
  <div class='text-center'>
    <h1 class='display-1'>404 : Not Found</h1>
    <p class='lead text-muted display-6'>
      Sorry to see you go through this. In the mean time check our pricing
      plans.😎
    </p>
  </div>
</div>