<div class='container-md mt-5 pt-5'>
  <div class='text-center'>

    {{#with message}}
      <h1>{{this}}</h1>
    {{/with}}

    <p class='lead text-muted'>
      ready.steady.cook
    </p>
  </div>
</div>